<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-nova-entrega-form></app-nova-entrega-form>
  <app-lista-entrega [entregas]="entregas.entregas"></app-lista-entrega>
</div>
