<div class="lista-entrega-header">
  <div class="lista-entrega-header-coluna">Cliente</div>
  <div class="lista-entrega-header-coluna">Origem</div>
  <div class="lista-entrega-header-coluna">Destino</div>
  <div class="lista-entrega-header-coluna">Data de Entrega</div>
</div>
