<div class="entrega-item">
  <div class="entrega-item-dado">{{entrega.cliente}}</div>
  <div class="entrega-item-dado">{{entrega.origem}}</div>
  <div class="entrega-item-dado">{{entrega.destino}}</div>
  <div class="entrega-item-dado">{{entrega.data_entrega}}</div>
</div>