<div class="lista-entrega">
  <app-lista-entrega-header></app-lista-entrega-header>
  <app-entrega-item *ngFor="let e of entregas" [entrega]="e"></app-entrega-item>
  <app-lista-entrega-footer></app-lista-entrega-footer>
</div>
